
 .morel {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-image: url(taksi.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
}

.navbar-brand {
      font-size: 1 rem;
      font-weight: bold;
    }
h2 {
    font-size: 40px;
    font-weight: bold;
    color: #7142f4;
    margin-bottom: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #4c56af;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 28px;
}

.btn {
    background-color: #4c53af;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5a3e8e;
}
.formulaire {
    border: 2px solid #000; 
    padding: 35px; 
    width: 400px;
}
.orens
{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    font-style: italic;
    color: #f44242;
    margin-bottom: 20px;
}
h1 {
    color: #7142f4;
}
.larry {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      color: #333;
    }
    
    h2 {
      color: #007bff;
    }
    p {
      font-size: 18px;
    }

.eliel {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      color: #333;
    }
    .blaise {
      max-width: 500px;
      margin: 0 auto;
      padding: 30px;
    }
   .kevin {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


 